@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        @*<div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="http://localhost:1640/home/index2">М.И.Цветаева</a></h3>
            </div>
            <div class="panel-body">
                
            </div>
        </div>*@

        <div class="alert alert-success" role="alert">
            <a href="http://localhost:1640/home/index2" class="alert-link">М.И.Цветаева</a>
        </div>


        <div class="alert alert-warning" role="alert">
        <a href="http://localhost:1640/home/index3" class="alert-link">С.А.Есенин</a> 
        </div>
            @*<div class="panel panel-default"><a href="http://localhost:1640/home/index3">С.А.Есенин</a></div>*@


        <div class="alert alert-danger" role="alert">
        <a href="http://localhost:1640/home/index4" class="alert-link">В.В.Маяковский</a>
        </div>
            @*<div class="panel panel-default"> <a href="http://localhost:1640/home/index4">В.В.Маяковский</a></div>*@

        </div>
    <div class="col-md-6">
        <div class="alert alert-success" role="alert">
            <a href="http://localhost:1640/home/index5" class="alert-link">А.С.Пушкин</a>
        </div>
        <div class="alert alert-warning" role="alert">
            <a href="http://localhost:1640/home/index6" class="alert-link">А.А.Ахматова</a>
        </div>
        <div class="alert alert-danger" role="alert">
            <a href="http://localhost:1640/home/index7" class="alert-link">М.Ю.Лермонтов</a>
        </div>


    @*<div class="panel panel-default"> <a href="http://localhost:1640/home/index5">А.С.Пушкин</a></div>
    <div class="panel panel-default"> <a href="http://localhost:1640/home/index6">А.А.Ахматова</a></div>
    <div class="panel panel-default"> <a href="http://localhost:1640/home/index7">М.Ю.Лермонтов</a></div>*@
</div>
</div>

<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plane"></span>

</button>

<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-cloud"></span>
</button>
<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-road"></span>
</button>





