@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>стихотворение Владимира Маяковского</h2>
<h2>Ты </h2>
<h2>Пришла -
    <br />деловито,
    <br />за рыком,
    <br />за ростом,
    <br />взглянув,
    <br />разглядела просто мальчика.
    <br />Взяла,
    <br />отобрала сердце
    <br />и просто
    <br />пошла играть -
    <br />как девочка мячиком.
    <br />И каждая -
    <br />чудо будто видится -
    <br />где дама вкопалась,
    <br />а где девица.
    <br />"Такого любить?
    <br />Да этакий ринется!
    <br />Должно, укротительница.
    <br />Должно, из зверинца!"
    <br />А я ликую.
    <br />Нет его -
    <br />ига!
    <br />От радости себя не помня,
    <br />скакал,
    <br />индейцем свадебным прыгал,
    <br />так было весело,
    <br />было легко мне.</h2>