@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>стихотворение Александра Пушкина</h2>
<h2>ВОЗРОЖДЕНИЕ</h2>
<h2><br />Художник-варвар кистью сонной
    <br />Картину гения чернит.
    <br />И свой рисунок беззаконный
    <br />Над ней бессмысленно чертит.

    <br />Но краски чуждые, с летами,
    <br />Спадают ветхой чешуей;
    <br />Созданье гения пред нами
    <br />Выходит с прежней красотой.

    <br />Так исчезают заблужденья
    <br />С измученной души моей,
    <br />И возникают в ней виденья
    <br />Первоначальных, чистых дней.</h2>