@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <h2>стихотворение Сергея Есенина</h2>
 <h2> <br />Грубым дается радость,
     <br />Нежным дается печаль.
     <br />Мне ничего не надо,
     <br />Мне никого не жаль.

     <br />Жаль мне себя немного,
     <br />Жалко бездомных собак,
     <br />Эта прямая дорога
     <br />Меня привела в кабак.

     <br />Что ж вы ругаетесь, дьяволы?
     <br />Иль я не сын страны?
     <br />Каждый из нас закладывал
     <br />За рюмку свои штаны.

     <br />Мутно гляжу на окна,
     <br />В сердце тоска и зной.
     <br />Катится, в солнце измокнув,
     <br />Улица передо мной.

     <br />На улице мальчик сопливый.
     <br />Воздух поджарен и сух.
     <br />Мальчик такой счастливый
     <br />И ковыряет в носу.

     <br />Ковыряй, ковыряй, мой милый,
     <br />Суй туда палец весь,
     <br />Только вот с эфтой силой
     <br />В душу свою не лезь.

     <br />Я уж готов... Я робкий...
     <br />Глянь на бутылок рать!
     <br />Я собираю пробки -
     <br />Душу мою затыкать.</h2>