@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>стихотворение Анны Ахматовой</h2>
<h2>ПЕСНЯ ПОСЛЕДНЕЙ ВСТРЕЧИ</h2>
<h2><br />Так беспомощно грудь холодела,
    <br />Но шаги мои были легки.
    <br />Я на правую руку надела
    <br />Перчатку с левой руки.

    <br />Показалось, что много ступеней,
    <br />А я знала - их только три!
    <br />Между кленов шепот осенний
    <br />Попросил: "Со мною умри!

    <br />Я обманут моей унылой
    <br />Переменчивой, злой судьбой".
    <br />Я ответила: "Милый, милый -
    <br />И я тоже. Умру с тобой!"

    <br />Это песня последней встречи.
    <br />Я взглянула на темный дом.
    <br />Только в спальне горели свечи
    <br />Равнодушно-желтым огнем.</h2>