@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a href="http://localhost:1640/home/index8">стихотворение</a>
</div>
<h2> Марина Ивановна Цветаева</h2>
<h2>поэтесса</h2>
<img src=" /Images/c.jpg" width="300" height="400">
