@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="http://localhost:1640/home/index9">стихотворение</a>
</div>
<h2>Сергей Александрович Есенин</h2>
<h2>поэт</h2>
<img src="/Images/e.jpg" width="300" height="400">