@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>стихотворение Марины Цветаевой</h2>
<h2> В. Я. Брюсову</h2>
<h2><br />Я забыла, что сердце в Вас — только ночник,
    <br />Не звезда! Я забыла об этом!
    <br />Что поэзия ваша из книг
    <br />И из зависти — критика. Ранний старик,
    <br />Вы опять мне на миг
    <br /> Показались великим поэтом.</h2>

