@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a href="http://localhost:1640/home/index12">стихотворение</a>
</div>
<h2>Анна Андреевна Ахматова</h2>
<h2>поэтесса</h2>
<img src="/Images/a.jpg" width="300" height="400">