@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a href="http://localhost:1640/home/index13">стихотворение</a>
</div>
<h2>Михаил Юрьевич Лермонтов</h2>
<h2>поэт</h2>
<img src="/Images/l.jpg" width="350" height="400">