@model Poetry.DomainModels.Poet

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="http://localhost:1640/home/index11">стихотворение</a>
</div>

<h2>@Model.Name</h2>
<h2>поэт</h2>
<img src="/Images/p.png" width="300" height="400">