@model IEnumerable<Poetry.DomainModels.Poet>


@{
    ViewBag.Title = "Poets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    @foreach (var poet in Model)
    {
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                <a href="/poets/details/@poet.PoetId" class="alert-link">@poet.Name</a>
            </div>
        </div>
    }
    CREATE TABLE [dbo].[Poet] (
    [PoetID] INT           IDENTITY (1, 1) NOT NULL,
    [Name]    NVARCHAR (50) NULL,
    [AvataUrl]  INT           NULL,
    PRIMARY KEY CLUSTERED ([PoetID] ASC)
    )
    CREATE TABLE [dbo].[Enrollment] (
    [EnrollmentID] INT IDENTITY (1, 1) NOT NULL,
    [PoetID]        DECIMAL(3, 2) NULL,
    [Name]     INT NOT NULL,
    [AvatarUrl]    INT NOT NULL,
    PRIMARY KEY CLUSTERED ([EnrollmentID] ASC),
    CONSTRAINT [FK_dbo.Enrollment_dbo.Poet_PoetID] FOREIGN KEY ([PoetID])
    REFERENCES [dbo].[Poet] ([PoetID]) ON DELETE CASCADE,
    CONSTRAINT [FK_dbo.Enrollment_dbo.Name_NameID] FOREIGN KEY ([StudentID])
    REFERENCES [dbo].[Student] ([StudentID]) ON DELETE CASCADE
    )


</div>

<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plane"></span>

</button>

<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-cloud"></span>
</button>
<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-road"></span>
</button>





